<input type="text"
           maxlength=20
           placeholder={{INITIAL_INPUT}}
           [(ngModel)]="user_input"><br>

<button type="submit"
            class="btn btn-default"
            ng-readonly="display"
            ng-init="display=false"
            ng-click="display=true"
            (click)="doPOST()">Send Information to API</button><br>
<input type="text"
             placeholder={{INITIAL_OUTPUT}}
             readonly="display"
             [(ngModel)]="server_output"><br>

